body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #4B3F6B; /* Adjust to match the design color */
}

.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 350px;
}

.signin-form {
    text-align: center;
    width: 300px; /* Adjust width as needed */
}

.signin-form h2 {
    color: white;
}

.signin-form p {
    color: white;
}

.signin-form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.sign-in-button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #EB3B5A; /* Adjust to match the design */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.forgot-password,
.account-creation {
    color: white;
    margin: 10px 0;
}

.social-signin button {
    margin: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.illustration {
    /* Styling for the illustration on the left side */
    width: 40%; /* Adjust as necessary */
    height: 100%;

    background-size: contain;
}

/* Add additional styles for responsiveness and aesthetic adjustments */
