<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div class="signin-container">
        <div class="signin-form">
            <h2>Sign In</h2>
            <p>Welcome back !</p>
            <form action="/submit-your-login-form" method="POST">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="password" id="password" name="password" placeholder="Password">
               <a href="/home"> <button type="submit" class="sign-in-button">Sign In</button> </a>
                <a href="#" class="forgot-password">Forgot password ?</a>
                <p class="account-creation">Don’t have an account ? <a href="/sign-up">Create one</a></p>
            </form>
            <div class="social-signin">

            </div>
        </div>
        <div class="illustration">
            <!-- Illustration image goes here -->
        </div>
    </div>
</body>
</html>
