<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Auction</title>

</head>
<body>
    <div class="container">
        <header class="header">
            <button class="back-button">&larr;</button>
            <h1>CREATE AUCTION</h1>
        </header>
        <div class="upload-section">
            <button class="upload-button" >Upload product images</button>
        </div>
        <form class="auction-form">
            <input type="text" id="product-name" name="product-name" placeholder="Product Name">
            <input type="text" id="price" name="price" placeholder="Price">
            <input type="text" id="auction-ends" name="auction-ends" placeholder="Auction ends at">
            <!-- Submit button can be added here -->
        </form>
        <button class="create-auction-button">upload</button>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</body>
</html>