<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>Create Account</h2>
            <form class="register-form">
                <input type="text" id="name" name="name" placeholder="Name">
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="text" id="cin" name="cin" placeholder="Cin">
                <input type="text" id="numtel" name="password" placeholder="Numero de téléphone">
                <input type="password" id="password" name="password" placeholder="Password">
                
               <a href="/home"> <button type="submit" class="sign-in-button">Sign In</button></a>
                <p class="forgot-password">Forgot password ?</p>
                <p class="sign-in">Already have an account ? <a href="/sign-in">Sign In</a></p>
                <br><br><br><br><br><br><br><br><br><br><br>
            </form>
            <div class="social-media-icons">
                <!-- Replace with actual icons -->
            </div>
        </div>
        <div class="illustration">
            <!-- The illustration would typically be added as an img tag or as a background image in CSS -->
        </div>
    </div>
</body>
</html>
